/* CSS Document */ 
.top{
text-align:right;
font-size:10px
}

.title_1{
margin-left:6cm;
}


.flip1,.flip2,.flip3,.flip4,.flip5
{
margin-left:5cm;
text-align:center;
border:solid;
border-color:#990000;
background-color:#CCCCCC
}

.panel1,.panel2,.panel3,.panel4,.panel5
{
margin-left:5cm;
margin-right:4.5cm;
padding:15px;
text-align:center;
border:solid;
height:130px;
display:none;
border-color:#990000;
font-weight:bold
}

.name{
text-align:center
}

.news{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
padding-left:5px;
padding-right:3cm
}

.show{
margin-left:5cm;
}

.low{
text-align:center;
font-size:12px
}